$border : 1px solid #b0b0b0;
$white: #fcfcfc;
$gray  : #666666;
$dark_gray : #444444;
$dark_gray2: #222222;
$light_gray : #999999;
$red : #c3272b;
$recommand_poster_width : 430px;
$recommand_item_width : 165px;
$recommand_height : 265px;
$recommand_brand_height : 30px;
$recommand_info_height : 35px;
$width : 980px;
$gallery_height : 605px;
$gallery_margin : 10px;
$gallery_side_width : 300px;
$gradient_start : rgba(252,252,252,0);
$gradient_end : rgba(252,252,252, 1);

input
{
	box-sizing: border-box;
}

img
{
	display: block;
}

.gallery
{
	position: relative;
	width: 100%;
	height: $gallery_height;
	margin-bottom: 50px;
	overflow: hidden;
}

.gallery img
{
	position: absolute;
	left: 50%;
	width: $width;
	height: $gallery_height;
	z-index: 0;
}

.gallery .side
{
	position: absolute;
	width: $gallery_side_width;
	height: $gallery_height;
	left: 50%;
	margin-left: - ($width / 2 + $gallery_side_width + $gallery_margin);
}

.gallery .left
{
	margin-left: - ($width / 2 + $gallery_side_width + $gallery_margin);
}

.gallery .right
{
	margin-left: $width / 2 + $gallery_margin;
}

.gallery .side .layer
{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.gallery .left .layer
{
	background: -webkit-gradient(linear, right top, left top, from($gradient_start), to($gradient_end));	
}

.gallery .right .layer
{
	background: -webkit-gradient(linear, left top, right top, from($gradient_start), to($gradient_end));	
}

.gallery .side .layer_top
{
	position: absolute;
	top: 0;
	height: 50%;
	width: $gallery_side_width;
	z-index: 200;
	background: -webkit-gradient(linear, left bottom, left top, from($gradient_start), to($gradient_end));	
}

.gallery .side .layer_bottom
{
	position: absolute;
	top: 50%;
	height: 50%;
	width: $gallery_side_width;
	z-index: 200;
	background: -webkit-gradient(linear, left top, left bottom, from($gradient_start), to($gradient_end));	
}

.gallery .side .block
{
	position: absolute;
	width: $width - $gallery_side_width;
	height: 100%;
	z-index: 200;
	background-color: $white;
}

.gallery .left .block
{
	left: -$width + $gallery_side_width;
}

.gallery .right .block
{
	width: 2 * $width - $gallery_side_width + $gallery_margin;
	left: $gallery_side_width;
}

.gallery .button
{
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: 200;
	opacity: 0.1;
	font: 70px cold "Microsoft Yahei";
	text-align: center;
	margin-top: (605px - 80px) / 2;
	cursor: pointer;

	&:hover
	{
		opacity: 0.8;
	}
}


.gallery .left_button
{
	left: 50%;
	margin-left: -$width / 2;
}


.gallery .right_button
{
	right: 50%;
	margin-right: -$width / 2;
}

.recommand
{
	width: $width;
	margin: 0 auto;
}

.recommand_bar
{
	font: bold 20px "Microsoft Yahei";
	color: $dark_gray;
	border-bottom: $border;
}

.recommand_ul
{
	list-style: none;
	padding: 0px;
}

.recommand_poster
{
	width: $recommand_poster_width;
	height: $recommand_height;
	margin-bottom: 30px;
	border: $border;
	float: left;
}

.poster_img
{
	height: $recommand_height;
	width: $recommand_poster_width;
}

.recommand_item
{
	width: $recommand_item_width;
	height: $recommand_height;
	margin-left: ($width - 8px - $recommand_poster_width - $recommand_item_width * 3) / 3;
	margin-bottom: 30px;
	border: $border;
	float: left;
}


.item_brand
{
	font: bold 20px "Microsoft JhengHei";
	float: right;
	color: $dark_gray;
	height: $recommand_brand_height;
	line-height: $recommand_brand_height;
}

.item_img
{
	border-top: $border;
	height: $recommand_item_width;
	width: $recommand_item_width;

	&:hover
	{
		opacity: 0.6;
	}
}

.item_info
{
	color: #424b50;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	height: $recommand_info_height;
	line-height: $recommand_info_height;
	border-top: $border;
}

.item_name
{
	color: $dark_gray;
}

.item_price
{
	font : bold 20px "Microsoft Yahei";
	font-size: 20px;
	color: $red;
	text-align : right;
	margin-right: 10px;
	height: $recommand_height - $recommand_item_width - $recommand_brand_height - $recommand_info_height - 2px;
}