<% content_for :head do %>
	<title><%= '关于我们' %></title>
<% end %>

<% content_for :class do %>theme1<% end %>

<div class="window">
	<div class="main">
		<h1>关于我们</h1>
		<div class='article'>
			&nbsp;&nbsp;&nbsp;&nbsp;汉风马牛是一家有民族情结的服装企业，是一群梦想家创立的严肃品牌，专注于服饰，专注于厚重的中国文化，专注于创造盛大而简约的体验潮流。汉风马牛不代表生活方式，不渲染青春或怀旧，不动心于岁月滔滔白云苍狗，文化为心，裁衣为体，发力于中国元素，着眼于世界格局。汉风马牛致力于持续打造优质的源自中国的服装，我们奋斗在路上。
		</div>
	</div>

	<div style="clear: both;"></div>
</div>
