$border : 1px solid #b0b0b0;
$white: #fcfcfc;
$gray  : #666666;
$dark_gray : #444444;
$dark_gray2: #222222;
$light_gray : #999999;
$red : #c3272b;
$orange : #ed5736;
$blue : #117cb0;
$yellow : #efdeb0;

@mixin gradient($direction, $start, $end, $default, $start_a:1, $end_a:1)
{
	background-color: $default;
	background: -webkit-linear-gradient($direction, rgba($start, $start_a), rgba($end, $end_a));
	background: -moz-linear-gradient($direction, rgba($start, $start_a), rgba($end, $end_a));
	background: -ms-linear-gradient($direction, rgba($start, $start_a), rgba($end, $end_a));
	-pie-background: linear-gradient(rgba($start, $start_a), rgba($end, $end_a));
    behavior: url(/stylesheets/PIE.htc);
}

@mixin gradient_button($color)
{
	@include gradient(top, $color, darken($color, 5%), $color);
}

@mixin opacity($value)
{
	//-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=$value*100);
	-moz-opacity: $value;
	-khtml-opacity: $value;
	opacity: $value;
}

@mixin shadow($x, $y, $r, $c)
{	
	box-shadow: $x $y $r $c;
    behavior: url(/stylesheets/PIE.htc);
}

@mixin hover_shadow($c:$blue, $r:3px)
{
	&:hover
	{		
		box-shadow: 0 0 $r $c;
    	behavior: url(/stylesheets/PIE.htc);
	}
}

@mixin text_shadow($c, $r:1px)
{	
	filter:glow(Color=#000,Strength=5);
	text-shadow: 0 0 $r $c;
}