@import "mixins";

$top_menu_height : 36px;
$top_menu_opacity : 0.9;
$top_menu_height : 36px;
$input_width : 120px;
$navigation_opacity : 0.95;
$width : 980px;


input
{
	box-sizing: border-box;
	outline:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: $border;
	vertical-align: middle;
}

a
{
	text-decoration: none;
}

ul
{
	list-style: none;
}

body
{
	margin-top: $top_menu_height;
	margin-right: auto;
	margin-left: auto;
	background-size: 50px 50px;
	background-color: darken($white, 5%);
	background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	-pie-background: linear-gradient(90deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px 50px $white;
	behavior: url(/pie/PIE.htc);
	overflow-x: hidden;
}

img
{
	display: block;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main
{
	overflow:auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */

.footer
{
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	// margin: 10px auto 0 auto;
	background-color: $dark_gray2;
} 

/*Opera Fix*/
body:before 
{
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

.wallpaper
{
	position: fixed;
	width:1080px;
	height: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	background-color: $white;
	@include shadow(0, 0, 3px, $light_gray);
}

.ie_bar
{
	width: 100%;
	height: 20px;
	background-color: $blue;
	z-index: 1000;
	text-align: center;
	color: $white;
	font: 15px bold "Microsoft Yahei";
	display: none;
}

.top_menu
{
	position: fixed;
	left: 0;
	top: 0px;
	height: $top_menu_height;
	width: 100%;	
	@include gradient(top, $dark_gray, $dark_gray2, $dark_gray);
	@include opacity($top_menu_opacity);
	z-index: 1000;
}

.top_wrapper
{
	margin: 0 auto;
	padding: 0px;
	width: $width;
	height: 100%;
	list-style: none;
}


.input_wrapper
{
	height: 100%;
	float: left;
}


.input
{
	color: $light_gray;
	margin: 6px;
	width: $input_width;
	border: 1px solid $white;
	padding-left: 5px;
	font-size: 12px;
}

.input:focus
{
	color: #000;
}

.home_wrapper
{
	height: 100%;
	margin-right: 30px; 
	float: left;

	&:hover
	{
		@include gradient_button($red);
	}
}


.login_wrapper
{
	height: 100%;
	float: left;

	&:hover
	{
		@include gradient_button($red);
	}
}

.top_menu .home
{
	color: $white;
	float: left;
	margin: 8px;
	font: bold 15px "Microsoft Yahei";
	@include text_shadow($white);
}

.login
{
	color: $white;
	float: left;
	margin: 8px;
	font: bold 15px "Microsoft Yahei";
	@include text_shadow($white);
}

.top_menu_item_wrapper
{
	height: 100%;
	float: right;	

	&:hover
	{		
		@include gradient_button($red);
	}
}

.top_menu_item
{
	color: $white;
	float: left;
	margin: 8px;
	font: bold 15px "Microsoft JhengHei";
	text-decoration : none; 
	@include text_shadow($white);
}

.shopping_cart_wrapper
{
	@include gradient_button($red);

	&:hover
	{		
		background-color: $orange;
	}
}

.shopping_cart_count_wrapper
{
	@include gradient_button($orange);

	&:hover
	{		
		background-color: $orange;
	}
}

.top_menu_window
{	
	position: fixed;
	top: $top_menu_height;
	left: 0;
	right: 0;
	height: 400px;
	width: $width - 4px;	
	margin: 0 auto;
	border: 2px solid $red;
	border-top: 0;
	background-color: $white;
	@include opacity($navigation_opacity);
	display: none;
	z-index: 1000;
}

.shopping_cart_list
{
	padding: 0 0 0 0;
	overflow: auto;
}

.shopping_cart_list .item_wrapper
{
	width: 100%;
	height: 80px;
	border-bottom: $border;
}

.shopping_cart_list .item
{
	width: 800px;
	height: 100%;
	margin: 0 auto;
}

.shopping_cart_list .first
{
	border-top: $border;
}

.shopping_cart_list .item .img_wrapper
{
	float: left;
	width: 80px;
	height: 100%;
}

.shopping_cart_list .item img
{
	padding-top: 15px;
	width: 50px;
	height: 50px;
	margin: auto;
}

.shopping_cart_list .item .link_wrapper
{
	float: left;
	width: 300px;
	height: 100%;
	text-align:left;
	line-height: 80px;
}

.shopping_cart_list .item .link_wrapper a
{
	color: $blue;
	font-size: 15px; 
}

.shopping_cart_list .item .size_wrapper
{
	float: left;
	width: 200px;
	height: 100%;
	text-align:left;
	line-height: 80px;
	overflow: auto;
}

.shopping_cart_list .item .price_wrapper
{
	float: left;
	width: 80px;
	height: 100%;
	text-align:left;
	line-height: 80px;
	font-family: bold "Microsoft Yahei";
	color: $red;
}

$navigation_left_width : 150px;
.navigation_left
{
	position: absolute;
	left: 0;
	top: 10%;
	height: 90%;
	width: $navigation_left_width;
	padding: 0;
	margin: auto;
	list-style: none;
}

.navigation_left_item
{
	width: 100%;
	height: 40px;
	margin: auto;
	padding-top: 10px;
	color: $dark_gray;
	font: bold 20px "Microsoft Yahei";
	text-align: center;
	// border-bottom:$border;

	&:hover
	{
		background-color: $red;	
		color: $white;		
	}
}

$separator_height : 90%;
.navigation_separator_top
{
	position: absolute;
	left: $navigation_left_width;
	top: 50% - $separator_height / 2;
	width: 2px;
	height: $separator_height / 2;	
	@include gradient(top, $white, $red, $red);
}

.navigation_separator_bottom
{
	position: absolute;
	left: $navigation_left_width;
	top: 50%;
	width: 2px;
	height: $separator_height / 2;	
	@include gradient(top, $red, $white, $red);
}

.header
{
	padding-top: 20px;
	margin-top: $top_menu_height; 
	margin-left: auto;
	margin-right: auto;
	height:100px;
	width: $width;
}

$logo_width : 280px;
.logo
{
	float: left;
	height: 100%;
	width: $logo_width;
	margin-left: 100px;
}


$search_input_height : 35px;
$search_input_width : 400px;
.search_input
{
	float: left;
	color: $light_gray;
	height: $search_input_height;
	width: $search_input_width;
	border: 2px solid $red;
	padding-left: 10px;
	font-size: 15px;
}

$search_button_width : 60px;
.search_button
{
	font: bold 15px "Microsoft Yahei";
	line-height: $search_input_height;
	color: $white;
	background-color: $red;
	border: 0px;
	float: left;
	width: $search_button_width;
	height: $search_input_height;
	cursor: pointer;
	@include text_shadow($white);
}

.search
{
	float: left;
	margin-left: 130px;
	height: 100%;
	width: $search_input_width + $search_button_width;
}

.hot_search_list
{
	float: left;
	width: 100%;
	list-style: none;
	margin: 0 auto;
	padding-left: 5px;
	padding-top: 5px;	
}

.hot_search
{
	text-decoration: none;
	font-size: 15px;
	color: $gray;
}

.footer .wrapper
{
	width: $width;
	margin: 0 auto;
}

.footer .colomn
{
	width: $width / 4;
	margin: 0;
	float: left;
	padding: 0;
	margin-bottom: 30px;
}

.footer .colomn li
{	
	margin: 3px auto;
	width: 100%
}

.footer .link
{
	line-height: 30px;
	font: 12px bold "Microsoft Yahei";
	color: $white;
	text-decoration: none;
}

.notification
{
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: 350px;
	width: 500px;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	font-family: "Microsoft Yahei";
	font-weight: bold;
	@include gradient_button($blue);
	color: $white;
	text-align: center;
	@include hover_shadow($red);
	@include opacity(0.75);
	display: none;
	z-index: 2000;
}