<% content_for :head do %>
	<title><%= '商品成功加入购物车！' %></title>
<% end %>

<div class="window">
	<div class="main">
		<h1>商品成功加入购物车！</h1>
	</div>

	<%= render 'right_colomn' %>

	<div style="clear: both;"></div>
</div>
