<% content_for :head do %>
	<title><%= '商品成功加入购物车！' %></title>
<% end %>

<div class="window">
	<div class="msg">
		<h1>商品成功加入购物车！</h1>
	</div>

	<div class="links">

	  已有账号？ <%= link_to "登陆", new_session_path(:user) %><br />
	</div>

	<div style="clear: both;"></div>
</div>
