$white: #fcfcfc;
$gray  : #666666;
$dark_gray : #444444;
$dark_gray2: #222222;
$light_gray : #999999;
$red : #c3272b;
$orange : #ed5736;
$blue : #117cb0;
$yellow : #efdeb0;

.window
{
	width: 700px;
	margin: 0px auto 100px auto;
}

.msg
{
	float: left;
	width: 500px;
}


.msg h1
{
	font-family: "Microsoft Yahei";
	color: $blue;
	margin-bottom: 30px;
}

.links
{
	padding-top: 100px;
	text-align: right;
	width: 200px;
	float: left;
	font-size: 15px;
	color: $dark_gray;
}

.links a
{
	color: $blue;
}