// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
$magnifier_opacity : 0.6;

$magnifier_width : 490px;
$magnification : 5;

img
{
	display: block;
}

.wft
{
	height: 100px;
}

.product_info
{
	width: 980px;
	margin: 0 auto;
	position: relative;
}

.product_img
{
	height: 490px;
	width: 490px;
	margin: 0px;
	float: left;
	border: $border;
}

// .illustration_img
// {
// 	width: 500px;
// 	border: $border;
// 	position: absolute;
// 	top: 200px;
// 	z-index: 100;
// 	display: none;
// }

.magnifier_lens
{
	position: absolute;
	top: 0px;
	height: 100px;
	width: 100px;
	background-color: $blue;
	display: none;	
	@include opacity($magnifier_opacity);
}

.magnifier
{
	position: absolute;
	width: $magnifier_width;
	height: $magnifier_width;
	left: 492px;
	top: 0px;
	margin: 0px;
	background-size: $magnifier_width * $magnification  $magnifier_width * $magnification;
	display: none;
	border: $border;
	border-left : none;
	z-index: 500;
}

.product_meta
{
	position: absolute;
	width: $magnifier_width;
	height: $magnifier_width;
	left: 502px;
	top: 0px;
	margin: 0px;
	// border: $border;
	border-left : none;
}

.product_name
{
	font: 20px "Microsoft JhengHei";
	height: 20px;
	width: 80%;
	line-height: 20px;
	margin: 20px 10% 0 10%;
	text-align: center;
	float: left;
	// border-bottom: 1px solid $light_gray
}

.product_meta .list
{
	margin-top: 20px;
	padding-left: 15px; 
	width: 490px;
	list-style: none;
	float: left;
}

.product_meta .item 
{
	margin-top: 5px;
	width: 100%;
	height: 25px;
}

.product_meta .name
{
	color: $light_gray;
	font: 13px "Microsoft Yahei";
	margin-right: 15px;
	width: 60px;
	float: left;
}

.product_meta .price
{
	color: $red;
	font: 20px "Microsoft Yahei";
	float: left;
}

.product_meta .sold
{
	color: $dark_gray;
	font: 15px "Microsoft Yahei";
	float: left;
}

.product_meta .deliver
{
	color: $dark_gray;
	font: 15px "Microsoft Yahei";
	float: left;

	&:hover
	{
		background-color: $yellow;
	}
}

.product_meta .size
{	
	color: $dark_gray;
	font: 12px "Microsoft Yahei";
	float: left;
	width: 80px;
	margin: auto 10px auto 0px;
	border: $border;
	text-align: center;
	cursor: pointer;

	&:hover
	{
		background-color: $yellow;		
	}
}

.product_meta .selected
{
	border: 1px solid $red;
	background-color: $yellow;
}

.product_meta .size_illustration
{
	background-color: $red;
	color: $white;
	width: 15px;
	margin-top: 5px;
	height: 15;
	font: 5px "楷体";
	text-align: center;
	float: left;
	cursor: pointer;
}

.product_meta .number_button
{
	border: $border;
	font-size: 8px;
	margin: 5px; 
	width: 13px;
	height: 13px;
	float: left;
	text-align: center;
	cursor: pointer;

	&:hover
	{
		background-color: $yellow;
	}
}

.product_meta .number_input
{
	width: 30px;
	float: left;
	text-align: center;
}

.product_meta .buttons
{
	height: 100px;
	width: 100%;
	float: left;
}

.product_meta .buttons .button
{	
	height: 33px;
	line-height: 33px;
	width: 167px;
	float: left;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	margin-left: 80px; 
	font-family: "Microsoft Yahei";
	font-size: 18px;
}

.product_meta .buttons .buy
{
	@include gradient_button($red);
	border: 1px solid #ddd;
	color: $white;	
	//@include hover_shadow($red);
}

.product_meta .buttons .favorite
{
	@include gradient_button($white);
	border: 1px solid #ddd;
	color: $light_gray;	
	margin-left: 30px; 
	@include hover_shadow();
}

